<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>A Shared Store</title>
  </head>
  <body>
    <h1>A Shared Store</h1>
    <counter-controls/>
    <counter-display/>
  </body>
</html>
