<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Acme</title>
  </head>
  <body>
    <h1>Acme Industries</h1>
    <p>Purveyors of fine anvils since 1949.</p>
    <nav>
      <a href="/about">About us</a>
    </nav>
  </body>
</html>
