<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Signup</title>
  </head>
  <body>
    <h1>Sign up</h1>
    <form>
      <label>Name <input type="text"></label>
      <label>Email <input type="email"></label>
    </form>
    <p>
      There's a problem with your email.
      <a href="#" onClick(e) { e.preventDefault(); }>Fix it</a>
    </p>
  </body>
</html>
