<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Plans</title>
  </head>
  <body>
    <h1>Choose a plan</h1>
    <pricing-table>
      <@plan name="Hobby" price=9>
        <@feature>Unlimited projects</@feature>
        <@feature>Community support</@feature>
      </@plan>
      <@plan name="Pro" price=29>
        <@feature>Everything in Hobby</@feature>
        <@feature>Priority support</@feature>
      </@plan>
    </pricing-table>
  </body>
</html>
