<script>
  // TODO: subscribe to input.event on input.to, forward it to input.onFire,
  // and unsubscribe on cleanup.
  //   const handler = (...args) => input.onFire && input.onFire(...args);
  //   input.to.addEventListener(input.event, handler);
  //   $signal.onabort = () => input.to.removeEventListener(input.event, handler);
</script>
