<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Our Team</title>
  </head>
  <body>
    <h1>Our Team</h1>
    <card name="Alice" role="Designer" year=2023/>
    <card name="Bob" role="Developer" year=2024/>
    <card name="Charlie" role="Product Manager" year=2022/>
  </body>
</html>
