<let/status="pick something">

<h1>Generic Selects</h1>

<my-select options=[1, 2, 3] onSelect(v) { status = v.toUpperCase() }/>
<my-select options=["M", "K", "O"] onSelect(v) { status = v.toUpperCase() }/>

<p>Status: ${status}</p>
