<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Cards</title>
  </head>
  <body>
    <h1>Announcements</h1>
    <page-card>
      <@header>
        <h2>Marko 6 is out</h2>
      </@header>

      <p>Attributes are JavaScript, tags are files, streams are fast.</p>

      <@footer>
        Posted by the Marko team
      </@footer>
    </page-card>
  </body>
</html>
