<let/count=0>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Yours now</title>
  </head>
  <body>
    <h1>Hello, Marko developer</h1>
    <button onClick() { count++ }>
      You've clicked ${count} times, and you know exactly why that works.
    </button>
  </body>
</html>
