<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Thermostat</title>
  </head>
  <body>
    <let/temp=21>
    <h1>Thermostat</h1>
    <p>${temp}°C</p>
    <button onClick() { temp-- }>Cooler</button>
    <button onClick() { temp++ }>Warmer</button>
  </body>
</html>
