<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Applause</title>
  </head>
  <body>
    <let/claps=0>
    <h1>Applause Meter</h1>
    <button onClick() { claps++ }>
      👏 ${claps} claps
    </button>
  </body>
</html>
