<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Game</title>
  </head>
  <body>
    <h1>Button Masher</h1>
    <counter/score/>
    <p>Current score: ${score}</p>
    <button onClick() { score = 0 }>Reset</button>
  </body>
</html>
