import * as rive from "@rive-app/canvas"

<let/instance=null>

<canvas/canvasEl width=input.width height=input.height/>

<script>
  const r = new rive.Rive({
    src: input.src,
    canvas: canvasEl(),
    autoplay: true,
    stateMachines: input.stateMachines,
    onLoad() { r.resizeDrawingSurfaceToCanvas() },
  });
  instance = r;
  $signal.onabort = () => r.cleanup();
</script>

<return=instance>
