<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Reading Inputs</title>
  </head>
  <body>
    <let/message="hello">
    <h1>Echo Chamber</h1>
    <input value=message>
    <div>You said: ${message}</div>
    <button onClick() { message = "hello" }>Reset</button>
  </body>
</html>
