import { increment, decrement, reset } from "../shared/store.js"

<button onClick() { decrement() }>−</button>
<button onClick() { increment() }>+</button>
<button onClick() { reset() }>Reset</button>
