<div/portalEl>
  <${input.content}/>
</div>

<script>
  // TODO: move the rendered <div> to where it should live, then clean up.
  //   const el = portalEl();
  //   const target = input.target ? document.getElementById(input.target) : document.body;
  //   target.appendChild(el);
  //   $signal.onabort = () => el.remove();
</script>
