import riveAsset from "../doc.riv"

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>A Rive animation</title>
  </head>
  <body>
    <h1>A Rive animation</h1>
    <p>The canvas below is driven by the Rive runtime through our wrapper tag.</p>
    <rive-canvas src=riveAsset width=400 height=400 stateMachines="State Machine 1"/>
  </body>
</html>
