static const snippet = "We <em>really</em> love HTML.";

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Unescaped Text</title>
  </head>
  <body>
    <h1>Escaped vs. Unescaped</h1>
    <p>${snippet}</p>
  </body>
</html>
